﻿
@using Kendo.Mvc.UI
@using HCMSSMI.ViewModels
@using HCMSSMI.Entities.Models.Profile

@{ ViewBag.Title = "Update Profile";
    if (ViewBag.roleID == "1" || ViewBag.roleID == "3")
    {
        Layout = "~/Views/Shared/Admin/_AdminLayoutJet.cshtml";

    }
    else if (ViewBag.roleID == "4")
    {
        Layout = "~/Views/Shared/Candidate/_CandidateLayoutJet.cshtml";


    }
    else if (ViewBag.roleID == "5")
    {
        Layout = "~/Views/Shared/Employer/_EmployerLayoutJet.cshtml";

    } }

@model Profile


<body class="template-color-1">
    <br /> <br />

    <!-- Breadcrumb Section Start -->
    <div class="breadcrumb-section section pt-60 pt-sm-50 pt-xs-40">
        <div class="container sb-border-two pb-60 pb-sm-50 pb-xs-40">
            <div class="row">
                <div class="col-12">
                    <div class="page-breadcrumb-content mb-0">
                        <ul class="page-breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="job-listing.html">Employers</a></li>
                            <li><a href="/Candidate/CandidateDetail?nama=@Model.Username">@Model.Username</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Start -->
    <div class="Loader"></div>
    <div class="row mt-3">
        @*<div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="page-title">
                            <span class="mdi mdi-apple-keyboard-command k-float-left mt-1 text-capitalize">  Benefit Item Edit Form</span>
                            <a href="@Url.Action("Index", "BenefitItem")" class="btn btn-outline-warning float-right"><i class="mdi mdi-arrow-left-bold-box-outline"></i> Back To List</a>

                        </h4>
                    </div>
                </div>
            </div>*@
    </div>

    <div class="row">
        <div class="col-xl-8">
            @using (Html.BeginForm("UpdateProfile", "Profile", FormMethod.Post, new { @class = "col-md-12 required-form", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="card">
                    <div class="card-header">
                        <h4><b>Personal Information</b></h4>
                    </div>
                    <div class="card-body">
                        <div class="col-lg-12">

                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="k-label col-md-12" for="FullName">Your Full Name</label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                                                @*<input class="form-control" />*@
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="k-label col-md-12" for="Email">Email</label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = true })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="k-label col-md-12" for="Gender">Gender</label>
                                            <div class="col-md-12">
                                                @*<select class="form-control" id="exampleFormControlSelect1">
                                               <option>Laki-Laki</option>
                                               <option>Wanita</option>
                                            </select>*@
                                                @Html.DropDownListFor(model => model.Gender, new SelectList(ViewBag.GenderList, "Gender", "NameGender"), "Choose..", new { @id = "medicalDropDown", @class = "form-control", required = true })

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="k-label col-md-10" for="ProfileImage">Profile Image</label>
                                            <div class="col-md-12">
                                                <div class="custom-file">
                                                    <input type="file" name="file" class="custom-file-input" id="customFile">
                                                    <label class="custom-file-label" for="file">Choose file</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="k-label col-md-12" for="Experience">Experience</label>
                                            <div class="col-md-12">
                                                @*<select class="form-control" id="exampleFormControlSelect2">
                                                <option>Fresh</option>
                                                <option>1 Tahun</option>
                                                <option>2 Tahun</option>
                                            </select>*@
                                                @Html.DropDownListFor(model => model.Experience, new SelectList(ViewBag.ExpList, "Experience", "NameExperience"), "Choose..", new { @id = "medicalDropDown", @class = "form-control", required = true })


                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="k-label col-md-12" for="Experience">Qualification</label>
                                            <div class="col-md-12">
                                                @*<select class="form-control" id="exampleFormControlSelect2">
                                                <option>SMK/SMA</option>
                                                <option>Diploma 1</option>
                                                <option>Diploma 2</option>
                                                <option>Diploma 3</option>
                                                <option>Sarjana 1</option>
                                                <option>Sarjana 2</option>
                                            </select>*@
                                                @Html.DropDownListFor(model => model.Qualification, new SelectList(ViewBag.QualificationList, "Qualification", "NameQualification"), "Choose..", new { @id = "medicalDropDown", @class = "form-control", required = true })

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="k-label col-md-12" for="AturProfil">Atur Profil</label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.Setyourprofile, new SelectList(ViewBag.SetyourprofileList, "Setyourprofile", "NameSetYourProfile"), "Choose..", new { @id = "medicalDropDown", @class = "form-control", required = true })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="k-label col-md-12" for="JobTitle">Job Title</label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.JobTitle, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="k-label col-md-12" for="Profession">Profession</label>
                                            <div class="col-md-12">
                                                @*@Html.TextBoxFor(model => model.Profession, new { @class = "form-control" })*@
                                                @Html.DropDownListFor(model => model.Profession, new SelectList(ViewBag.ProfessionList, "Profession", "NameProfession"), "Choose..", new { @id = "medicalDropDown", @class = "form-control", required = true })

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="k-label col-md-12" for="Phone">Phone</label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="k-label col-md-10" for="StartDate">Date Of Birth</label>
                                            <div class="col-md-12">
                                                <div class="input-group date" data-provide="datepicker">
                                                    @Html.TextBoxFor(model => model.DOB, new { @id = "IDLahir", @class = "form-control", required = true })
                                                    <div class="input-group-addon">
                                                        <button type="button" class="btn btn-warning"><i class="mdi mdi-calendar"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="k-label col-md-10" for="CoverImage">Cover Image</label>
                                            <div class="col-md-12">
                                                <div class="custom-file">
                                                    <input type="file" name="file" class="custom-file-input" id="customFile">
                                                    <label class="custom-file-label" for="file">Choose file</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="k-label col-md-12" for="Level">Level</label>
                                            <div class="col-md-12">
                                                @*<select class="form-control" id="exampleFormControlSelect2">
                    <option>Manager</option>
                    <option>Supervisor</option>
                    <option>Staff</option>
                </select>*@
                                                @Html.DropDownListFor(model => model.Jabatan, new SelectList(ViewBag.JabatanList, "Jabatan", "NameJabatan"), "Choose..", new { @id = "medicalDropDown", @class = "form-control", required = true })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="k-label col-md-12" for="Type">Type</label>
                                            <div class="col-md-12">
                                                @*<select class="form-control" id="exampleFormControlSelect2">
                    <option>Kontrak</option>
                    <option>Paruh Waktu</option>
                    <option>Penuh Waktu</option>
                </select>*@
                                                @Html.DropDownListFor(model => model.Type, new SelectList(ViewBag.TypeList, "Type", "NameType"), "Choose..", new { @id = "medicalDropDown", @class = "form-control", required = true })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="k-label col-md-12" for="Gaji">Gaji</label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.SalaryRange, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="k-label col-md-12" for="Type">Sector</label>
                                            <div class="col-md-12">
                                              
                                                @Html.DropDownListFor(model => model.SectorID, new SelectList(ViewBag.SectorList, "SectorID", "SectorName"), "Choose..", new { @id = "medicalDropDown", @class = "form-control", required = true })
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">About Me</label>
                                @* <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>*@
                                @Html.TextAreaFor(model => model.AboutSelf, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card">
                    <div class="card-header">
                        <h4><b>Address/Location</b></h4>
                    </div>

                    <div class="card-body">
                        <div class="col-lg-12">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="k-label col-md-12" for="Experience">City</label>
                                            <div class="col-md-12">
                                             
                                                @Html.DropDownListFor(model => model.AddID, new SelectList(ViewBag.AddressList, "AddID", "City"), "Choose..", new { @id = "medicalDropDown", @class = "form-control", required = true })

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="k-label col-md-12" for="Email">Full Address</label>
                                            <div class="col-md-12">
                                                @Html.TextAreaFor(model => model.FullAddress, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-group">
                                            <label class="k-label col-md-12" for="Phone">Postal Code</label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-4">

                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-warning k-button-expand"><i class="mdi mdi-check-box-outline"></i> Save Changes </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
            @*menu right*@
            <div class="col-xl-4">
                <div class="card">

                    <div class="card-body">
                        <div class="col-lg-12">
                            <div class="contact-box">
                                <div class="contact-img">
                                    <img src="https://jobs.nokriwp.com/demo-3/wp-content/uploads/sites/9/2018/09/careerslogo_EFX-100x100.jpg" id="candidate_dp" class="img-responsive img-circle" alt="candidate profile image">
                                </div>
                                <div class="contact-caption">

                                    <h4>@ViewBag.FullNameLabel</h4>
                                    <span>@ViewBag.ProfessionLabel</span>
                                </div>
                                <ul class="social-links list-inline">
                                </ul>
                                <div class="progress-bar-section">
                                    <div class="progress">
                                        <div class="progress-bar"> <span data-percent="95" class="profile95" style="transition: width 3s ease 0s; width: 95%;"></span> </div>
                                    </div>
                                    <div class="progress-bar-title">
                                        <h5>Profile Percent</h5>
                                        <span class="progress-percentage">95%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <ul>
                                    <li> <i class="ti-calendar"></i>Date of Birth: <strong>@ViewBag.DOBLabel</strong></li>
                                    <li> <i class="ti-mobile"></i>@ViewBag.PhoneLabel</li>
                                    <li> <i class="ti-email"></i>@ViewBag.EmailLabel</li>
                                    <li> <i class="ti-location-arrow"></i>@ViewBag.JobTitleLabel</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*end right*@
        </div>




</body>

@{ bool isAlertResponse = ViewBag.IsAlertResponse;
    var alertBody = ViewBag.ActivityResponsMessage; }

@if (isAlertResponse)
{
    <style>
        #toast-container {
            color: blue;
            background-color: green;
            box-shadow: green;
        }
    </style>
    <script>

            let message =  @Html.Raw(Json.Encode(@alertBody.Message));
        let type = @Html.Raw(Json.Encode(@alertBody.Type));

      

            function AlertMessage(message, type) {
                switch (type.toLowerCase()) {
                    case "success":
                        toastr.success(message);
                        break;
                    case "info":
                        toastr.info(info);
                        break;
                    case "warning":
                        toastr.warning(message);
                        break;
                    case "error":
                        toastr.error(message);
                        break;
                    default:
                        break;

                }
            }

            AlertMessage(message, type);

    </script>
}


<script>

    $(document).ready(function () {
        // get date from MyDate input field

        $('#IDLahir').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'YYYY/MM/DD',
        });
    });



</script>
